@model IEnumerable<WebApplication5.Models.Feedback>

@{
    ViewBag.Title = "Feedback";
}

<h2>Feedback</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="pretty" id="dt">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th>operations</th>
        </tr>
    </thead>


@foreach (var item in Model)
{
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.email }) |
                @Html.ActionLink("Details", "Details", new { id = item.email }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.email })
            </td>
        </tr>
    </tbody>
}

</table>

@section scripts{

    <link href="~/Content/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/datatables/css/dt.css" rel="stylesheet" />
    <script src="~/Content/datatables/js/jquery.dataTables.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
           $('#operation').hide();


            $('.chk').change(function () {

                if (this.checked) {


                    $('#operation').show();

                }

                else {

                    $('#operation').hide();

                }




            });


            $('#dt thead .files').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });

            // DataTable
            var table = $('#dt').DataTable();

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.header()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });


        });



    </script>



}

